@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 300px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width 0.3s, eight 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    background: #5f2c82 url(../images/pexels-sean-whang-25006-804269.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}

